<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      FLOW
    </title>
    <meta name="author" content="anthonyfio">
    <meta name="description" content="Work enviorment that lets you get into the flow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
