@import "normalize.css";

@import "basscss";

:root {
  --dark-gray: #888;
  --body-background-color: green;
  --link-color: var(--dark-gray);
  --link-text-decoration: none;
  font-size: 16px;
}

@media (min-width: 25em) and (max-width: 50em) {
  :root {
    font-size: calc( 16px + (24 - 16) * ( (100vw - 25em) / ( 800 - 400) ));
  }
}

@media (min-width: 50em) {
  :root {
    font-size: 24px;
  }
}

mw-1 { max-width: 17rem }

img {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}
